<p id="notice"><%= notice %></p>

<p>
  <strong>Mision:</strong>
  <%= @objetivo.mision %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @objetivo.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @objetivo.descripcion %>
</p>

<p>
  <strong>Habilitado:</strong>
  <%= @objetivo.habilitado %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @objetivo.visible %>
</p>

<p>
  <strong>Urlvideoinstructivo:</strong>
  <%= @objetivo.urlvideoinstructivo %>
</p>

<p>
  <strong>Urlpdfinstructivo:</strong>
  <%= @objetivo.urlpdfinstructivo %>
</p>

<p>
  <strong>Urlhtmlinstructivo:</strong>
  <%= @objetivo.urlhtmlinstructivo %>
</p>

<p>
  <strong>Descripcioninstructivo:</strong>
  <%= @objetivo.descripcioninstructivo %>
</p>

<p>
  <strong>Urlvideoevaluativo:</strong>
  <%= @objetivo.urlvideoevaluativo %>
</p>

<p>
  <strong>Urlpdfevaluativo:</strong>
  <%= @objetivo.urlpdfevaluativo %>
</p>

<p>
  <strong>Urlhtmlevaluativo:</strong>
  <%= @objetivo.urlhtmlevaluativo %>
</p>

<p>
  <strong>Descripcionevaluativo:</strong>
  <%= @objetivo.descripcionevaluativo %>
</p>

<%= link_to 'Edit', edit_objetivo_path(@objetivo) %> |
<%= link_to 'Back', objetivos_path %>
